# sh files use lf
*.sh text eol=lf

# Git config files use lf
.gitignore text eol=lf
.gitattributes text eol=lf

# PHP source file use lf
*.php text eol=lf

# Markdown file use lf
*.md text eol=lf

# Composer use lf
composer.* text eol=lf

# util script files use lf
util/* text eol=lf

# Windows only file need CRLF
*.bat text eol=crlf

# Config files use lf
*.conf text eol=lf
